<link rel="stylesheet" href="/stylesheets/index.css"> 
<form class="form-signin" action="/login/submit" method="POST">
      <blockquote class="blockquote text-center mb-5">
        <h3 class="mb-2">{{title}} A Mind Blowing Game</h3>
        <footer class="blockquote-footer">Welcome to <cite title="Source Title">{{title}}</cite></footer>
      </blockquote>
      <h6 class="mb-3 align-top font-weight-normal">Please sign in</h6>
      <label for="uname" class="sr-only">Username</label>
      <input type="text" class="form-control" placeholder="Enter username" name="uname" required>
      <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
      
</form>
